<mat-divider></mat-divider>
<div class="crud-item" fxLayout="row" fxLayoutAlign="start center" style="margin: 8px 0;">
    <p>book-store-service-test works!</p>
    <span fxFlex></span>
    <button mat-stroked-button>Reset store to initial state</button>
</div>


<mat-divider></mat-divider>
<p>book-store-service-test works!</p>

<mat-divider></mat-divider>
<p>book-store-service-test works!</p>

<mat-divider></mat-divider>
<p>book-store-service-test works!</p>

<mat-divider></mat-divider>
<p>book-store-service-test works!</p>

<mat-divider></mat-divider>
<p>book-store-service-test works!</p>

<mat-divider></mat-divider>
<p>book-store-service-test works!</p>

<mat-divider></mat-divider>
<p>book-store-service-test works!</p>

<mat-divider></mat-divider>
<p>book-store-service-test works!</p>