mat-form-field {
    width: 100%;
  }
  
  button[mat-icon-button] {
    margin-left: 8px;
    background-color: #6200ea;
    color: white;
  }
  
  button[mat-icon-button]:hover {
    background-color: #3700b3;
  }
  
  mat-icon {
    font-size: 20px;
  }
  