<header>
    <h1 class="big-font">Artikelverwaltung</h1>
</header>

<nav mat-tab-nav-bar mat-stretch-tabs color="accent" backgroundColor="primary">
    <a #listLink="routerLinkActive"
        mat-tab-link
        routerLink="/itemList"
        routerLinkActive>
    Artikelliste
    </a>

    <a #newLink="routerLinkActive"
        mat-tab-link
        routerLink="/item/new"
        routerLinkActive>
    Neuer Artikel
    </a>

    <a #removeLink="routerLinkActive"
        mat-tab-link
        routerLink="/deleteItems"
        routerLinkActive>
    Alle Artikel löschen
    </a>


    <a #refreshLink="routerLinkActive"
        mat-tab-link
        routerLink="/regenerateItems"
        routerLinkActive>
    Alle Artikel neu anlegen
    </a>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

