<div class="container">
    <h1>
        Wetterstations-App 🌦️
    </h1>
    <p>
        Diese Webanwendung ermöglicht die Anzeige und Sortierung von Wetterdaten verschiedener Wetterstationen in Südtirol. 
        Nutzer können sich eine Liste aller verfügbaren Stationen anzeigen lassen, sortiert nach Temperatur, Niederschlag oder Luftdruck. 
        Durch Auswahl einer Station erhalten sie detaillierte Informationen zu den aktuellen Messwerten.
        Die App nutzt eine externe API zur Echtzeitabfrage der Wetterdaten und bietet eine intuitive Benutzeroberfläche mit Angular Material. 
        Ziel ist es, aktuelle Wetterdaten übersichtlich darzustellen und den Nutzern eine schnelle Orientierung zu ermöglichen.
    </p>
    <button mat-raised-button color="primary" [routerLink]="['/stations', 'name']">
        Zu den Wetterstationen
    </button>    
</div>
