<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(handsetObserver$ | async) ? 'dialog' : 'navigation'"
        [mode]="(handsetObserver$ | async) ? 'over' : 'side'"
        [opened]="(handsetObserver$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Notizen</a>
        <a mat-list-item routerLink="/themes">Themen</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="handsetObserver$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>PWA Notes</span>
      </mat-toolbar>

      
      <router-outlet></router-outlet>
    </mat-sidenav-content>


</mat-sidenav-container>